/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #13171e !important;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/layered-waves-haikei.svg) bottom no-repeat;
  background-size: cover;
  z-index: -1;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

.title {
  margin: 0;
  position: fixed;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: fit-content;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid white;
  height: 0;
  width: 340px;
  border-radius: 6px;
  transition: 0.3s;
}

.title::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #06101e;
  height: 15px;
  width: 15px;
  border: 3px solid white;
  border-radius: 50%;
  transition: 0.3s;
}

.title:hover::after {
  animation: rightBullet 2s ease alternate;
}

.title:hover::before {
  animation: leftBullet 2s ease alternate;
}

@keyframes leftBullet {
  0%,
  100% {
    bottom: -7px;
    left: 50%;
    background-color: white;
    border: 2px solid white;
    height: 0;
    width: 340px;
    border-radius: 6px;
  }
  20% {
    width: 0;
  }
  40% {
    bottom: 13px;
    left: -15%;
    border: 3px solid white;
    background-color: transparent;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  80% {
    bottom: -7px;
    left: 23%;
    border: 3px solid white;
    background-color: transparent;
    height: 135%;
    width: 230px;
    border-radius: 0%;
    border-right: none;
  }
}

@keyframes rightBullet {
  0%,
  100% {
    bottom: -13px;
    left: 50%;
    background-color: #06101e;
    height: 15px;
    width: 15px;
    border: 3px solid white;
    border-radius: 50%;
  }
  40% {
    bottom: 13px;
    left: 120%;
    border: 3px solid white;
    background-color: transparent;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  80% {
    bottom: -10px;
    left: 75%;
    border: 3px solid white;
    background-color: transparent;
    height: 135%;
    width: 230px;
    border-radius: 0%;
    border-left: none;
  }
}

@media (max-width: 670px) {
  .title {
    font-size: 30px !important;
  }
  .title::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 2px solid white;
    height: 0;
    width: 190px;
    border-radius: 6px;
    transition: 0.3s;
  }
  @keyframes leftBullet {
    0%,
    100% {
      bottom: -7px;
      left: 50%;
      background-color: white;
      border: 2px solid white;
      height: 0;
      width: 190px;
      border-radius: 6px;
    }
    20% {
      width: 0;
    }
    40% {
      bottom: 13px;
      left: -15%;
      border: 3px solid white;
      background-color: transparent;
      height: 15px;
      width: 15px;
      border-radius: 50%;
    }
    80% {
      bottom: -7px;
      left: 23%;
      border: 3px solid white;
      background-color: transparent;
      height: 124%;
      width: 190px;
      border-radius: 0%;
      border-right: none;
    }
  }
  @keyframes rightBullet {
    0%,
    100% {
      bottom: -13px;
      left: 50%;
      background-color: #06101e;
      height: 15px;
      width: 15px;
      border: 3px solid white;
      border-radius: 50%;
    }
    40% {
      bottom: 13px;
      left: 120%;
      border: 3px solid white;
      background-color: transparent;
      height: 15px;
      width: 15px;
      border-radius: 50%;
    }
    80% {
      bottom: -10px;
      left: 75%;
      border: 3px solid white;
      background-color: transparent;
      height: 125%;
      width: 190px;
      border-radius: 0%;
      border-left: none;
    }
  }
}
